.clock {
  width: 23rem;
  height: 23rem;
  border-radius: 50%;
  background: #eee;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .label {
    position: absolute;
    width: 100%;
    height: 100%;
    &::before, &::after {
      position: absolute;
      left: 50%;
    }
    &::before {
      top: 0.5rem;
    }
    &::after {
      bottom: 0.5rem;
    }
    &.l1 {
      transform: rotate(30deg);
      &::before, &::after {
        transform: translateX(-50%) rotate(-30deg);
      }
      &::before {
        content: "1";
      }
      &::after {
        content: "7";
      }
    }
    &.l2 {
      transform: rotate(60deg);
      &::before, &::after {
        transform: translateX(-50%) rotate(-60deg);
      }
      &::before {
        content: "2";
      }
      &::after {
        content: "8";
      }
    }
    &.l3 {
      transform: rotate(90deg);
      &::before, &::after {
        transform: translateX(-50%) rotate(-90deg);
      }
      &::before {
        content: "3";
      }
      &::after {
        content: "9";
      }
    }
    &.l4 {
      transform: rotate(120deg);
      &::before, &::after {
        transform: translateX(-50%) rotate(-120deg);
      }
      &::before {
        content: "4";
      }
      &::after {
        content: "10";
      }
    }
    &.l5 {
      transform: rotate(150deg);
      &::before, &::after {
        transform: translateX(-50%) rotate(-150deg);
      }
      &::before {
        content: "5";
      }
      &::after {
        content: "11";
      }
    }
    &.l6 {
      transform: rotate(180deg);
      &::before, &::after {
        transform: translateX(-50%) rotate(-180deg);
      }
      &::before {
        content: "6";
      }
      &::after {
        content: "12";
      }
    }
  }
  .ticks {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    .tick {
      position: absolute;
      width: 100%;
      height: 100%;
      background: transparent;
      border-radius: 50%;
      &::before {
        position: absolute;
        content: "";
        left: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
      }
      &.hours {
        &::before {
          width: 25%;
          height: 0.3rem;
          top: calc(50% - 0.15rem);
          background: #222;
        }
      }
      &.minutes {
        &::before {
          width: 35%;
          height: 0.2rem;
          top: calc(50% - 0.1rem);
          background: #222;
        }
      }
      &.seconds {
        &::before {
          width: 45%;
          height: 0.1rem;
          left: 45%;
          top: calc(50% - 0.05rem);
          background: orange;
        }
        &::after {
          content: "";
          position: absolute;
          width: 1rem;
          height: 1rem;
          background: orange;
          border-radius: 50%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}